# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
.css
*.min.css
*.css.map
.md
*.sln
*.sw?
vite.svg
react.svg
index.css
vite.config.js
App.css
.eslintrc.cjs
*.cjs