// _fonts.scss
@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNextLTPro.ttf') format('truetype'),
       url('/src/assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNextLTProDemi.ttf') format('truetype'),
       url('/src/assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNextLTProBold.ttf') format('truetype'),
       url('/src/assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}