// _scrubber-mixin.scss
@import 'variables';

@mixin scrubber-styles {
  width: 100%;
  height: 5px;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  background: transparent;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: $border-radius;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $scrubber-thumb-color;
    cursor: pointer;
    margin-top: -0.3125rem;
  }

  &::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-radius: $border-radius;
  }

  &::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $scrubber-thumb-color;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: blue;
    border-radius: $border-radius;
  }

  &::-ms-fill-upper {
    background: #ddd;
    border-radius: $border-radius;
  }

  &::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $scrubber-thumb-color;
    cursor: pointer;
    margin-top: -0.3125rem;
  }
}
