$volume-scrubber-track-color: #0095FF;
$volume-scrubber-thumb-color: #FFFFFF;
$scrubber-thumb-color: #ffffff; 
$volume-scrubber-played-color: #0095FF; 
$volume-scrubber-unplayed-color: #000000; 

// Global breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;
