// _variables.scss
// Primary Colors
$color-brainflix-black: #323232;
$color-brainflix-blue: #0095FF;
$color-silver: #AFAFAF;
$color-white: #FFFFFF;
$color-gray: #666;

// Secondary Colors
$color-brainflix-darkblack: #000000;
$color-brainflix-darkblue: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;

// Volume Scrubber Colors
$volume-scrubber-track-color: #0095FF;
$volume-scrubber-thumb-color: #FFFFFF;
$scrubber-thumb-color: #FFFFFF;
$volume-scrubber-played-color: #0095FF;
$volume-scrubber-unplayed-color: #000000;

// Global Breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 320px;

// Common Styles
$border-radius: 0.3125rem;
$transition-time: 0.3s;
$font-family-primary: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-label: 0.875rem;
$font-weight-bold: 600;

