// UploadPage.scss
@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';
@import '../../../styles/partials/typography';
@import '../../../styles/partials/buttons';

.upload-container {
  background-color: $color-white;
  border-radius: .3125rem;
  box-shadow: none;
  margin-bottom: 5rem !important;

  &__title {
    font-family: 'Avenir', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $color-brainflix-black;
    margin-top: 1rem;
  
    @include media-breakpoint-up($tablet-min-breakpoint) {
      margin-top: -1rem;
      margin-bottom: -0.5rem;
    }
    @include media-breakpoint-up($desktop-breakpoint) {
      margin-top: 0rem;
      margin-bottom: 0rem;
    }
  }
  

  &__divider {
    border: none;
    border-top: .0625rem solid $color-mercury;
    margin: 1rem 0;

    &--top {
        display: none;
        @include media-breakpoint-up($tablet-min-breakpoint) {
            display: block;
        }
    }

    &--bottom-tablet {
        display: none;
        @include media-breakpoint-down($tablet-max-breakpoint) {
            display: block;
            width: auto;
            margin-top: -4rem;
        }
    }

    &--bottom-desktop {
        display: none;
        @include media-breakpoint-up($desktop-breakpoint) {
            display: block;
            width: 100%;
            margin-top: 1rem;
        }
    }

    @include media-breakpoint-down($mobile-max-breakpoint) {
        display: none;
    }
}


  &__content {
    display: flex;
    flex-direction: column;
    gap: 0rem;

    @include media-breakpoint-up($desktop-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-right: 0;

    @include media-breakpoint-up($desktop-breakpoint) {
      width: 100%;
      margin-right: 0;
    }
    
    &-group {
      margin-bottom: .625rem;
      margin-right: 1.25rem !important;

      .upload-container__label {
        font-family: 'Avenir', sans-serif;
        font-size: .875rem;
        font-weight: 600;
        margin-bottom: .3125rem;
        display: block;
        color: $color-silver;
      }

      .upload-container__input,
      .upload-container__textarea {
        width: 100%;
        padding: .625rem;
        font-family: 'Avenir', sans-serif;
        font-size: 14px;
        border: 1px solid $color-mercury;
        border-radius: .3125rem;
        margin-bottom: .625rem;
        background-color: $color-alabaster;

        &::placeholder {
          color: $color-brainflix-black;        
        }
      }

      .upload-container__textarea {
        resize: vertical;
        min-height: 100px;

        @include media-breakpoint-up($desktop-breakpoint) {
          min-height: 80px !important;
        }
      }
    }
  }

  &__button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;  

    .button--primary {
      margin-bottom: .625rem;
      width: 100%;  

      @include media-breakpoint-up($tablet-min-breakpoint) {
        margin-bottom: 0;
        max-width: 200px; 
      }
    }

    .upload-container__cancel-button {
      color: $color-brainflix-blue;
      cursor: pointer;
      text-decoration: none;
      font-family: 'Avenir', sans-serif;
      font-size: .875rem;
      font-weight: 600;
      text-align: center;
      width: 10%;  
    }

    &--inside {
      display: flex;
      gap: 2rem;
      width: 100%;  

      @include media-breakpoint-up($desktop-breakpoint) {
        display: none;
      }

      @include media-breakpoint-down($mobile-max-breakpoint) {
        flex-direction: column!important;
        margin-top: 1rem !important;
        gap: 2rem !important;
        
        .upload-container__cancel-button {
          order: 2!important;
        }

        .button--primary {
          order: 1;
        }
      }

      @include media-breakpoint-down($tablet-max-breakpoint) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;
        margin-top: 3rem;

        .upload-container__cancel-button {
          order: 1;
        }

        .button--primary {
          order: 2;
          margin-top: -1rem;
        }
      }
    }

    &--outside {
      display: none;
      margin-top: 1.25rem;
      width: 100%;  

      @include media-breakpoint-up($desktop-breakpoint) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 4rem;

        .upload-container__cancel-button {
          order: 1;
        }

        .button--primary {
          order: 2;
        }
      }
    }
  }
}
