// VideoThumbnail.scss
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.thumbnail-container {
  @include flex-center-column();
  margin-bottom: 1rem;

  &__label {
    @include font-avenir($font-size-label, $font-weight-bold, $color-gray);
    margin-bottom: 0;
    display: block;
    text-align: left;
    width: 100%;
  }

  &__image-wrapper {
    width: 100%;
    height: auto;
    background-color: $color-mercury;
    @include border-radius($border-radius);
    overflow: hidden;
    box-sizing: border-box;
  }

  &__image {
    width: 100%;
    @include border-radius($border-radius);
    object-fit: cover;
    display: block;
  }
}

@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
  .thumbnail-container__image-wrapper {
    @include responsive-image-wrapper(30rem);
  }
}

@media (min-width: $desktop-breakpoint) {
  .thumbnail-container__image-wrapper {
    @include responsive-image-wrapper(22rem!important);
  }

  .thumbnail-container__image {
    width: 100%;
    object-fit: cover;
  }
}
