// VideoThumbnail.scss
@import '../../styles/partials/mixins';
@import '../../styles/partials/variables';

.thumbnail-container {
  @include flex-center-column();
  margin-bottom: 1rem;

  &__label {
    @include font-avenir($font-size-label, $font-weight-bold, $color-silver);
    margin-bottom: 0;
    display: block;
    text-align: left;
    width: 100%;
  }

  &__image-wrapper {
    width: 100%;
    height: auto;
    background-color: $color-mercury;
    @include border-radius($border-radius);
    overflow: hidden;
    box-sizing: border-box;

    &--error {
      background-color: $color-mercury;
    }
  }

  &__image {
    width: 100%;
    @include border-radius($border-radius);
    object-fit: cover;
    display: block;

    &--error {
      display: none;
    }
  }

  @include media-breakpoint-down($tablet-max-breakpoint) {
    &__image-wrapper {
      @include responsive-image-wrapper(30rem);
    }
  }

  @include media-breakpoint-up($desktop-breakpoint) {
    &__image-wrapper {
      @include responsive-image-wrapper(22rem !important);
    }

    &__image {
      width: 100%;
      object-fit: cover;
    }
  }
}