// NextVideos.scss
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.next-videos {
  margin-top: 1rem;

  &__title {
    margin-bottom: 1rem;
    text-transform: uppercase;
    @include font-avenir($font-size-label, $font-weight-bold, $color-silver); 
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    @include flex-align-center(); 
    margin-bottom: 1rem;
  }

  &__item--clickable {
    cursor: pointer;
  }

  &__thumbnail {
    width: 120px;
    height: 90px;
    margin-right: 1rem;
    object-fit: cover;
    @include border-radius($border-radius); 
    background-color: $color-mercury; 

    &:error {
      background-color: $color-mercury; 
      content: '';
    }
  }

  &__info {
    @include flex-center-column(); 
    justify-content: center;
    gap: 2rem;
    align-items: flex-start; 
  }

  &__video-title {
    margin: 0;
    color: $color-brainflix-black; 
  }

  &__channel {
    margin: 0;
    color: $color-gray; 
  }
}

@media (max-width: $desktop-breakpoint) {
  .next-videos {
    padding: 0;
  }
}

@media (min-width: $desktop-breakpoint) {
  .next-videos {
    padding: 1rem;
  }
}