// CommentSection.scss
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.bold {
  font-weight: $font-weight-bold;
}

body {
  font-family: $font-family-primary;
}

.comments {
  padding: 0rem;
  text-align: left;

  &__counter {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  &__form-container {
    margin-bottom: 2rem;
  }

  &__form-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    @include border-radius(50%);
    background-color: $color-mercury;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__form {
    @include flex-center-column();
    flex-grow: 1;
    margin-top: 0.5rem;
    width: 100%;
    margin-bottom: -1rem;

    @include media-breakpoint-up(768px) {
      flex-direction: row;
    }
  }

  &__label {
    color: $color-silver;
  }

  &__textarea,
  &__button--custom {
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: $color-alabaster;
  }

  &__textarea {
    border: .0625rem solid $color-mercury;
    @include border-radius($border-radius);
    color: $color-brainflix-black;
    flex-grow: 1;
    resize: none;
    margin-bottom: 0.5rem;
    font-family: $font-family-primary;

    &::placeholder {
      font-family: $font-family-primary;
      color: $color-brainflix-black;
    }

    &--error {
      border-color: $color-red;
    }

    &:focus {
      border-color: $color-brainflix-black;
    }
  }

  &__button--custom {
    @include button-style($color-brainflix-blue, darken($color-brainflix-blue, 10%));
    min-width: 15rem;
    margin-bottom: 0.5rem;

    .button__icon {
      margin-right: 0.5rem;
      height: 1.5rem;
      margin-left: 0;
    }

    .button__text {
      flex: 1;
      text-align: center;
      text-transform: uppercase;
      margin-left: -2rem;
    }
  }

  &__list {
    border-top: none;
    border-bottom: none;
    padding-top: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    margin-bottom: 1rem;
  }

  &__divider {
    height: 1px;
    background-color: $color-mercury;
    margin: 1rem 0;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;

    &--first {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    .comments__avatar {
      width: 3rem;
      height: 3rem;
      @include border-radius(50%);
      background-color: $color-mercury;
      object-fit: cover;
      flex-shrink: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 1rem;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  &__name {
    font-weight: $font-weight-bold;
    text-align: left;
  }

  &__date-delete-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__date {
    color: $color-mercury;
    text-align: right;
  }

  &__text {
    text-align: left;
  }

  @include media-breakpoint-up(767px) {
    &__textarea {
      margin-right: 1rem;
      margin-bottom: 0;
    }

    &__button--custom {
      margin-bottom: 0;
      width: auto;
    }

    &__divider:last-child {
      display: none;
    }
  }

  @include media-breakpoint-down(767px) {
    &__textarea {
      height: 5rem;
      margin-bottom: 1rem;
    }
  }
}

.comments__avatar {
  &--margin-top {
    margin-top: 1.875rem; 
  }
}
