// CommentSection.scss
.bold {
  font-weight: 600;
}

body {
  font-family: 'Avenir', sans-serif;
}

.comments {
  padding: 0rem;
  text-align: left;
}

.comments__counter {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.comments__form-container {
  margin-bottom: 0rem;
}

.comments__form-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.comments__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  object-fit: cover;
  flex-shrink: 0;
}

.comments__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0.5rem;
  width: 100%;
  margin-bottom: -1rem;
}

.comments__form--horizontal {
  flex-direction: row;
  align-items: center;
}

.comments__label {
  color: #AFAFAF;
}

.comments__textarea,
.comments__button--custom {
  width: 100%;
  height: 2.5rem;
  box-sizing: border-box;
  padding: 0.5rem;
}

.comments__textarea {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  color: #323232;
  flex-grow: 1;
  resize: none;
  margin-bottom: 0.5rem;
  font-family: 'Avenir', sans-serif;
}

.comments__textarea::placeholder {
  font-family: 'Avenir', sans-serif;
  color: #323232;
}

.comments__textarea--error {
  border-color: #d22d2d;
}

.comments__textarea:focus {
  border-color: #323232;
}

.comments__button--custom {
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 15rem;
  margin-bottom: 0.5rem;
}

.comments__button .button__icon {
  margin-right: 0.5rem;
  height: 1.5rem;
  margin-left: 0;
}

.comments__button .button__text {
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  margin-left: -2rem;
}

.comments__list {
  border-top: none;
  border-bottom: none;
  padding-top: 1rem;
}

.comments__divider {
  height: 1px;
  background-color: #e1e1e1;
  margin: 1rem 0;
}

.comments__item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.comments__item:last-child {
  margin-bottom: 0;
}

.comments__item--last {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.comments__item .comments__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  object-fit: cover;
  flex-shrink: 0;
}

.comments__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
}

.comments__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.comments__name {
}

.comments__date {
  color: #E1E1E1;
}

.comments__text {
}

@media (min-width: 768px) {
  .comments__form--horizontal {
    flex-direction: row;
    align-items: center;
  }

  .comments__textarea {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .comments__button--custom {
    margin-bottom: 0;
    width: auto;
  }

  .comments__divider:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .comments__textarea {
    height: 5rem; 
    margin-bottom: 1rem;
  }
}
