// NavBar.scss
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.header {
  @include flex-align-center-space-between(); 
  background-color: $color-white; 

  &__logo {
    @include flex-align-center(); 

    a img {
      width: auto;
      height: auto;
    }
  }

  &__search-avatar-wrapper {
    @include flex-align-center(); 
    flex: 1;
    gap: 1rem;
    width: 100%;
  }

  &__search-container {
    flex-grow: 1;
    position: relative;
    height: auto;
    @include flex-align-center(); 
  }

  &__search-icon {
    position: absolute;
    left: .625rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    height: 1.5rem;
    width: auto;
  }

  &__search-input {
    width: 100%;
    border: .0625rem solid $color-silver; 
    @include border-radius($border-radius); 
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    box-sizing: border-box;
    height: 2.5rem;
    font-family: $font-family-primary; 
  }

  &__search-input::placeholder {
    font-family: $font-family-primary; 
    color: $color-brainflix-black; 
  }

  &__avatar {
    width: 40px;
    height: 40px;
    @include border-radius(50%); 
    overflow: hidden;
    flex-shrink: 0;
    background-color: $color-mercury; 

    &--inside {
      display: none;
    }

    &--outside {
      display: block;
      margin-left: 1rem;
    }
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include border-radius(50%);
  }

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: stretch;
    padding-bottom: .625rem; 

    &__logo {
      margin-bottom: 0.5rem;
      @include flex-center(); 
    }

    &__search-avatar-wrapper {
      @include flex-align-center-space-between(); 
      margin-bottom: 1rem;
      width: 100%;
      height: auto;
    }

    &__search-container {
      margin: 0;
      height: auto;
    }

    &__avatar {
      width: 36px;
      height: 36px;
    }

    &__avatar--inside {
      display: block;
    }

    &__avatar--outside {
      display: none;
    }
  }

  @media (min-width: 768px) {
    &__logo a img {
      margin-right: 5rem;
    }

    &__search-avatar-wrapper {
      flex: 1;
      @include flex-align-center-space-between(); 
      height: auto;
    }

    &__search-container {
      flex-grow: 1;
      margin-right: 1rem;
      @include flex-align-center(); 
    }

    &__search-input {
      width: 100%;
      height: 2.5rem;
    }

    &__avatar--inside {
      display: none;
    }

    &__avatar--outside {
      display: block;
      margin-left: 1rem;
    }
  }

  @media (min-width: 1280px) {
    &__logo {
      margin-right: 10rem;
    }
  }
}

.header__bottom-border {
  width: 100vw; 
  height: 1px;
  background-color: $color-mercury; 
  margin-left: -50vw; 
  margin-right: -50vw; 
  position: relative;
  left: 50%;
}