// VideoPlayer.scss
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';
@import '../../styles/partials/scrubber-mixin';

.video-player {
  &--container {
    width: 100%;
    margin: 0 auto;
    padding-top: 45%;
    background-color: $color-brainflix-darkblack;
    position: relative;
    overflow: hidden;
    transition: padding-top $transition-time ease, margin $transition-time ease;
  }

  &--full-height {
    padding-top: 45%;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-brainflix-darkblack;
    z-index: 1;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: 0;
    transition: opacity $transition-time ease;

    &--playing {
      opacity: 1;
    }

    @include media-breakpoint-up($tablet-breakpoint) {
      object-fit: contain;
    }

    @include media-breakpoint-down($tablet-breakpoint) {
      object-fit: cover;
    }
  }

  &__thumbnail {
    position: absolute;
    top: -1rem;
    width: 100%;
    height: 100%;
    @include flex-center-column();
    cursor: pointer;
    z-index: 3;
    opacity: 1;
    transition: opacity $transition-time ease;

    &--hidden {
      opacity: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include media-breakpoint-up($desktop-breakpoint) {
        margin-left: -1rem;
        margin-right: 2rem;
        width: calc(100% - 25rem);
      }

      @include media-breakpoint-down($tablet-max-breakpoint) {
        margin-right: 3rem;
        margin-left: -2rem;
        width: calc(100% - 6rem);
      }
      @include media-breakpoint-down($mobile-max-breakpoint) {
        width: 100%;
      }
    }
  }

  &__controls {
    @include flex-align-center-space-between();
    position: absolute;
    bottom: .625rem;
    width: calc(68% - 20px);
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 4;
    padding: 0 .625rem;
    transition: opacity $transition-time ease, width $transition-time ease;

    @include media-breakpoint-down($tablet-max-breakpoint) {
      transform: translateX(-50%) scale(0.9);
      width: calc(100% - 20px);
    }

    @include media-breakpoint-down($mobile-max-breakpoint) {
      transform: translateX(-50%) scale(0.6);
      margin-left: 0.4rem;
      width: calc(155% - 20px);
    }

    @include media-breakpoint-up($desktop-breakpoint) {
      left: 51.4%;
    }



    &--hidden {
      opacity: 0;
      pointer-events: none;
    }

    &--playing {
      width: calc(100% - 20px);

      @include media-breakpoint-down($tablet-max-breakpoint) {
        width: calc(105% - 20px);
      }

      @include media-breakpoint-down($mobile-max-breakpoint) {
        width: calc(155% - 20px);
      }

      @include media-breakpoint-up($desktop-breakpoint) {
        width: calc(90% - 20px);

      }
    }

    &--left,
    &--center,
    &--right {
      background: rgba(0, 0, 0, 0.5);
      padding: .625rem;
      @include border-radius($border-radius);
      @include flex-align-center();
      margin: 0 .625rem;
      height: 25px;
    }

    &--left {
      margin-right: auto;

      .control-button {
        background: none;
        border: none;
        cursor: pointer;
        margin: 0 .3125rem;
        position: relative;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    &--center {
      flex-grow: 1;
      justify-content: center;

      .scrubber {
        @include scrubber-styles;
      }
    }

    &--right {
      margin-left: auto;

      .volume-container {
        @include flex-align-center();
        position: relative;
        margin: -0.125rem -0.5rem;

        &:hover .volume {
          width: 100px;
          opacity: 1;
        }

        img {
          width: 30px;
          height: 30px;
          cursor: pointer;
        }

        .volume {
          margin-left: .3125rem;
          width: 0;
          max-width: 100px;
          background: $color-white;
          height: 5px;
          @include border-radius($border-radius);
          outline: none;
          cursor: pointer;
          transition: width $transition-time ease, opacity $transition-time ease;
          opacity: 0;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            @include border-radius(50%);
            background: $color-white;
            cursor: pointer;
          }

          &::-moz-range-thumb {
            width: 15px;
            height: 15px;
            @include border-radius(50%);
            background: $color-white;
            cursor: pointer;
          }
        }
      }

      .control-button {
        background: none;
        border: none;
        cursor: pointer;
        padding-top: .5625rem;
        margin: -0.125rem .3125rem;
        position: relative;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@include media-breakpoint-down($mobile-max-breakpoint) {
  .video-player__controls {
    &--left,
    &--center,
    &--right {
      height: 30px;
      padding: .3125rem;
    }
    &--center .scrubber {
      height: 3px;
      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        width: 10px;
        height: 10px;
      }
    }
    &--left .control-button img,
    &--right .control-button img {
      width: 20px;
      height: 20px;
    }
  }
}
