// MetricData.scss
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.metric-data {
  --icon-color: $color-silver;
  --channel-color: $color-brainflix-black;

  @include flex-align-center-space-between();
  flex-wrap: wrap;

  &__column {
    flex: 1;
    @include flex-center-column();
    margin-right: 1.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    flex: 1;
    text-align: center;
    margin-bottom: .625rem;
    @include flex-align-center();

    &--bold {
      color: var(--channel-color);
      font-weight: $font-weight-bold;
    }

    &:not(&--bold) {
      color: var(--icon-color);
      gap: 0.5rem;
      align-items: center;
    }

    &__icon {
      width: 16px;
      height: 16px;
      margin-right: .75rem;
      fill: var(--icon-color);
    }
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .625rem;

    &__column {
      width: 100%;
      display: contents; 

      &__item {
        width: 100%;
        text-align: center;

        &:last-child {
          margin-bottom: .625rem;
        }
      }
    }
  }

  @media (min-width: 768px) {
    &__column {
      flex-direction: row;

      &__item {
        width: auto;
        text-align: center;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1279px) {
    &__column {
      &:last-child {
        margin-left: 7rem;
      }
    }
  }

  @media (min-width: 1280px) {
    --icon-color: $color-silver;
    --channel-color: $color-brainflix-black;
    gap: 5rem;
  }
}
