// MetricData.scss
@import '../../styles/partials/variables';
@import '../../styles/partials/mixins';

.metric-data {
  display: grid;
  margin-top: 0;
  margin-bottom: -1rem;
  grid-template-columns: repeat(4, 1fr);

  @include media-breakpoint-down($tablet-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -1rem;

    &__column--date {
      order: 2;
    }
    &__column--views {
      order: 1;
    }
    &__column--likes {
      order: 3;
    }
  }

  @include media-breakpoint-up($tablet-breakpoint) {
    display: flex;
    justify-content: space-between;

    .metric-data__left {
      @include flex-row(center);
      gap: 3rem;
    }

    .metric-data__right {
      @include flex-row(center);
      gap: 3rem;
    }
  }

  &__column {
    flex: 1;
    align-items: flex-start;
    margin-right: 1.25rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item {
    flex: 1;
    text-align: center;
    margin-bottom: .625rem;
    @include flex-row(center);

    &--bold {
      color: var(--channel-color);
      font-weight: $font-weight-bold;
      text-align: left;
      white-space: nowrap;
    }

    &:not(&--bold) {
      color: var(--icon-color);
      gap: 0.5rem;
      align-items: center;
    }
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
    margin-right: .75rem;
    fill: var(--icon-color);
    @include transition(fill);
    cursor: pointer;

    &--liked {
      fill: var(--liked-color);
      animation: pop $transition-time ease-in-out;
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
