@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400; /* Normal */
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}
.global-grid {
  display: grid;
  padding: auto;
}
@media (min-width: 1280px) {
  .global-grid {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding: auto;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .global-grid {
    grid-template-columns: 1fr;
    grid-gap: 24px;
    padding: 36px;
  }
}
@media (max-width: 767px) {
  .global-grid {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding: 16px;
  }
}