@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTPro.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTProDemi.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/src/assets/fonts/AvenirNextLTProBold.ttf") format("truetype"), url("/src/assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, p, a, button, label {
  margin: 0;
}

h1 {
  font-size: 33px;
  line-height: 44px;
  font-weight: 700;
}
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

h2 {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
@media (max-width: 768px) {
  h2 {
    font-size: 12px;
    line-height: 20px;
  }
}

h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
@media (max-width: 768px) {
  h3 {
    font-size: 13px;
    line-height: 18px;
  }
}

p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
@media (max-width: 768px) {
  p {
    font-size: 13px;
    line-height: 18px;
  }
}

a, button, label {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 768px) {
  a, button, label {
    font-size: 10px;
    line-height: 20px;
  }
}

.global-grid {
  display: grid;
  gap: 16px;
}
@media (min-width: 1280px) {
  .global-grid {
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 2rem 7.5rem;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .global-grid {
    grid-template-columns: 1fr;
    gap: 24px;
    margin: 2rem;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .global-grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 16px;
  }
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar" "main" "footer";
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.video-section {
  position: relative;
  background-color: black;
}
@media (min-width: 1280px) {
  .video-section {
    margin-left: -8rem;
    margin-right: -8rem;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .video-section {
    margin-left: -3rem;
    margin-right: -2.75rem;
  }
}
@media (max-width: 768px) and (min-width: 320px) {
  .video-section {
    margin-left: -3rem;
    margin-right: -1.5rem;
  }
}
.video-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: -1;
}
.video-section video {
  width: 100%;
  height: auto;
}

.content-container {
  display: grid;
  grid-template-columns: 2fr 1px 1fr;
  grid-gap: 1rem;
}
@media (min-width: 1280px) {
  .content-container {
    grid-template-columns: 2fr 1px 1fr;
    grid-gap: 0rem;
  }
}
@media (max-width: 1280px) {
  .content-container {
    grid-template-columns: 1fr;
  }
}

.headline {
  grid-column: 1;
}
@media (min-width: 1280px) {
  .headline {
    padding-right: 1rem;
  }
}

.divider {
  background-color: #ccc;
  height: 1px;
  margin: 1rem 0;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .title-divider {
    display: none;
  }
}
@media (min-width: 1280px) {
  .title-divider {
    display: none;
  }
}

.main-divider {
  grid-column: 2;
  background-color: #ccc;
  width: 1px;
  height: 100%;
}
@media (max-width: 1280px) {
  .main-divider {
    display: none;
  }
}

.footer {
  grid-column: 3;
  width: 100%;
}
@media (max-width: 1280px) {
  .footer {
    grid-column: 1;
    width: 100%;
  }
}

.headline-container h1, .headline-container h2, .headline-container p {
  margin: 0.5rem 0;
}

.next-video-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.clickable {
  cursor: pointer;
}