.metric-data {
  --icon-color: $color-silver;
  --channel-color: $color-brainflix-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.metric-data__column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25rem;
}
.metric-data__column:last-child {
  margin-right: 0;
}
.metric-data__item {
  flex: 1;
  text-align: center;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: center;
}
.metric-data__item--bold {
  color: var(--channel-color);
  font-weight: 600;
}
.metric-data__item:not(.metric-data__item--bold) {
  color: var(--icon-color);
  gap: 0.5rem;
  align-items: center;
}
.metric-data__item__icon {
  width: 16px;
  height: 16px;
  margin-right: 0.75rem;
  fill: var(--icon-color);
}
@media (max-width: 767px) {
  .metric-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.625rem;
  }
  .metric-data__column {
    width: 100%;
    display: contents;
  }
  .metric-data__column__item {
    width: 100%;
    text-align: center;
  }
  .metric-data__column__item:last-child {
    margin-bottom: 0.625rem;
  }
}
@media (min-width: 768px) {
  .metric-data__column {
    flex-direction: row;
  }
  .metric-data__column__item {
    width: auto;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .metric-data__column:last-child {
    margin-left: 7rem;
  }
}
@media (min-width: 1280px) {
  .metric-data {
    --icon-color: $color-silver;
    --channel-color: $color-brainflix-black;
    gap: 5rem;
  }
}