.metric-data {
  --icon-color: #AFAFAF;
  --channel-color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.metric-data .metric-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.metric-data .metric-column:last-child {
  margin-right: 0;
}
.metric-data .metric-item {
  flex: 1;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.metric-data .metric-item.metric-item-bold {
  color: var(--channel-color);
  font-weight: 600;
}
.metric-data .metric-item:not(.metric-item-bold) {
  color: var(--icon-color);
}
.metric-data .metric-item .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: var(--icon-color);
}
@media (max-width: 768px) {
  .metric-data {
    flex-direction: column;
    align-items: flex-start;
  }
  .metric-data .metric-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .metric-data .metric-column .metric-item {
    text-align: left;
    width: 48%;
    margin-bottom: 0;
  }
  .metric-data .metric-column .metric-item:last-child {
    margin-bottom: 10px;
  }
}
@media (min-width: 769px) {
  .metric-data .metric-column {
    flex-direction: row;
  }
  .metric-data .metric-column .metric-item {
    width: auto;
    text-align: center;
  }
}