.next-videos {
  margin-top: 1rem;
}
.next-videos__title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Avenir", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: #AFAFAF;
}
.next-videos__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.next-videos__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.next-videos__item--clickable {
  cursor: pointer;
}
.next-videos__thumbnail {
  width: 120px;
  height: 90px;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3125rem;
  background-color: #E1E1E1;
}
.next-videos__thumbnail:error {
  background-color: #E1E1E1;
  content: "";
}
.next-videos__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
}
.next-videos__video-title {
  margin: 0;
  color: #323232;
}
.next-videos__channel {
  margin: 0;
  color: #666;
}

@media (max-width: 1280px) {
  .next-videos {
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .next-videos {
    padding: 1rem;
  }
}