.scrubber-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.scrubber-container .scrubber__timer {
  margin: 0 0.625rem;
  color: #FFFFFF;
}
.scrubber-container .scrubber {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 0.125rem;
  border-radius: 0.3125rem;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.scrubber-container .scrubber::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3125rem;
}
.scrubber-container .scrubber::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -0.3125rem;
}
.scrubber-container .scrubber::-moz-range-track {
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3125rem;
}
.scrubber-container .scrubber::-moz-range-thumb {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
.scrubber-container .scrubber::-ms-track {
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.scrubber-container .scrubber::-ms-fill-lower {
  background: transparent;
  border-radius: 0.3125rem;
}
.scrubber-container .scrubber::-ms-fill-upper {
  background: transparent;
  border-radius: 0.3125rem;
}
.scrubber-container .scrubber::-ms-thumb {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -0.3125rem;
}