.video-player--container {
  width: 100%;
  margin: 0 auto;
  padding-top: 45%;
  background-color: #000000;
  position: relative;
  overflow: hidden;
  transition: padding-top 0.3s ease, margin 0.3s ease;
}
.video-player--full-height {
  padding-top: 45%;
}
.video-player__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 1;
}
.video-player__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.video-player__video--playing {
  opacity: 1;
}
@media (min-width: 768px) {
  .video-player__video {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 768px) {
  .video-player__video {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.video-player__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.video-player__thumbnail--hidden {
  opacity: 0;
}
.video-player__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1280px) {
  .video-player__thumbnail img {
    width: 67%;
  }
}
@media (max-width: 1280px) and (min-width: 768px) {
  .video-player__thumbnail img {
    width: 91%;
  }
}
.video-player__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0.625rem;
  width: calc(68% - 20px);
  left: 50%;
  transform: translateX(-50%) scale(1);
  z-index: 4;
  padding: 0 0.625rem;
  transition: opacity 0.3s ease, width 0.3s ease;
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-player__controls {
    transform: translateX(-50%) scale(0.9);
    width: calc(100% - 20px);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .video-player__controls {
    transform: translateX(-50%) scale(0.6);
    margin-left: 0.6rem;
    width: calc(155% - 20px);
  }
}
.video-player__controls--hidden {
  opacity: 0;
  pointer-events: none;
}
.video-player__controls--playing {
  width: calc(100% - 20px);
}
@media (min-width: 768px) and (max-width: 1279px) {
  .video-player__controls--playing {
    width: calc(105% - 20px);
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .video-player__controls--playing {
    width: calc(155% - 20px);
  }
}
.video-player__controls--left, .video-player__controls--center, .video-player__controls--right {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  margin: 0 0.625rem;
  height: 25px;
}
.video-player__controls--left {
  margin-right: auto;
}
.video-player__controls--left .control-button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 0.3125rem;
  position: relative;
}
.video-player__controls--left .control-button img {
  width: 20px;
  height: 20px;
}
.video-player__controls--center {
  flex-grow: 1;
  justify-content: center;
}
.video-player__controls--center .scrubber {
  width: 100%;
  height: 5px;
  border-radius: 0.3125rem;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.video-player__controls--center .scrubber::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3125rem;
}
.video-player__controls--center .scrubber::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -0.3125rem;
}
.video-player__controls--center .scrubber::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3125rem;
}
.video-player__controls--center .scrubber::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
.video-player__controls--center .scrubber::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.video-player__controls--center .scrubber::-ms-fill-lower {
  background: blue;
  border-radius: 0.3125rem;
}
.video-player__controls--center .scrubber::-ms-fill-upper {
  background: #ddd;
  border-radius: 0.3125rem;
}
.video-player__controls--center .scrubber::-ms-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -0.3125rem;
}
.video-player__controls--right {
  margin-left: auto;
}
.video-player__controls--right .volume-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: -0.125rem -0.5rem;
}
.video-player__controls--right .volume-container:hover .volume {
  width: 100px;
  opacity: 1;
}
.video-player__controls--right .volume-container img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.video-player__controls--right .volume-container .volume {
  margin-left: 0.3125rem;
  width: 0;
  max-width: 100px;
  background: #FFFFFF;
  height: 5px;
  border-radius: 0.3125rem;
  outline: none;
  cursor: pointer;
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.video-player__controls--right .volume-container .volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
.video-player__controls--right .volume-container .volume::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
.video-player__controls--right .control-button {
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 0.5625rem;
  margin: -0.125rem 0.3125rem;
  position: relative;
}
.video-player__controls--right .control-button img {
  width: 30px;
  height: 30px;
}

@media (max-width: 320px) {
  .video-player__controls--left, .video-player__controls--center, .video-player__controls--right {
    height: 30px;
    padding: 0.3125rem;
  }
  .video-player__controls--center .scrubber {
    height: 3px;
  }
  .video-player__controls--center .scrubber::-webkit-slider-thumb, .video-player__controls--center .scrubber::-moz-range-thumb {
    width: 10px;
    height: 10px;
  }
  .video-player__controls--left .control-button img, .video-player__controls--right .control-button img {
    width: 20px;
    height: 20px;
  }
}