.volume-container {
  display: flex;
  align-items: center;
  width: auto;
}
.volume-container img {
  cursor: pointer;
  margin-right: 10px;
}
.volume-container .volume {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 0;
  max-width: 100px;
  height: 0.125rem;
  border-radius: 0.3125rem;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, #0095FF 0%, #0095FF var(--volume-value, 0%), #000000 var(--volume-value, 0%), #000000 100%);
  transition: width 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}
.volume-container .volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3125rem;
}
.volume-container .volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -0.3125rem;
}
.volume-container .volume::-moz-range-track {
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border-radius: 0.3125rem;
}
.volume-container .volume::-moz-range-thumb {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
.volume-container .volume::-ms-track {
  width: 100%;
  height: 0.3125rem;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.volume-container .volume::-ms-fill-lower {
  background: #0095FF;
  border-radius: 0.3125rem;
}
.volume-container .volume::-ms-fill-upper {
  background: #000000;
  border-radius: 0.3125rem;
}
.volume-container .volume::-ms-thumb {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
  margin-top: -0.3125rem;
}
.volume-container:hover .volume {
  width: 100px;
  opacity: 1;
}