.video-description {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #323232;
    background-color: #FAFAFA;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  